<!DOCTYPE html>
<html lang="en">

    <% include partials/header.ejs %>

<body class="">
  <div class="wrapper ">
      <% include partials/sidebar.ejs %>
      <div class="main-panel">
        <!-- Navbar -->
        <% include partials/nav.ejs %>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-sm">
    
    
  </div> -->
        <div class="content">
            <% if (errorMsg) { %>
              <div class="alert alert-danger"><%= errorMsg %></div>
          <% } %>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Add New Item</h5>
                </div>
                <div class="card-body">

                  <form action="/items/saveitem/" method="post" name="saveItem">
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                            <label>Code</label>
                            <input type="text" name="code" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                            <label>Cost</label>
                            <input type="number" name="cost" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" name="price" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Disount(Pounds)</label>
                                <input type="number" name="discount" class="form-control" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" name="quantity" class="form-control" min="1" value="1" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Provider</label>
                                <input type="hidden" id="providerIdAdd" name='providerId'/>
                                <input type="text" id="providerPhoneAdd" onfocusout="checkProviderPhone(this.id)" name='providerPhone' placeholder='Enter Provider Phone' class="form-control border-input" required/>
                                <span class="error" id="providerPhoneAddError" aria-live="polite"></span>
                               <!-- <select class="form-control border-input" placeholder="Choose a provider" name="providerId">
                                        <% if (providers) { %>
                                        <% for (var i =0; i<providers.length;i++) { %>
                                        <option value="<%=providers[i].id%>"><%=providers[i].name%></option>
                                        <% } %>
                                        <% } %>
                                </select>
                                -->
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Category</label>
                                <input type="hidden" id="categoryIdAdd" name='categoryId'/>
                                <input type="text" id="categoryNameAdd" onfocusout="checkCategoryName(this.id)" name='categoryName' placeholder='Enter Category Name' class="form-control border-input" required/>
                                <span class="error" id="categoryNameAddError" aria-live="polite"></span>
                                <!--
                                <select class="form-control border-input" placeholder="Choose a category" name="categoryId" required>
                                        <% if (categories) { %>
                                        <% for (var i =0; i<categories.length;i++) { %>
                                        <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                                        <% } %>
                                        <% } %>
                                </select>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                          <button type="submit" class="btn btn-primary btn-round">Add Item</button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Add Existing Item</h5>
                    </div>
                    <div class="card-body">
    
                      <form action="/items/updateitemquantity/" method="post" name="updateItemQuantity">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="hidden" id="itemId" name='itemId'/>
                                    <input type="text" id="itemCode" onfocusout="checkItemCode(this.id)" name='itemCode' placeholder='Enter item code' class="form-control border-input" required/>
                                    <span class="error" id="itemCodeError" aria-live="polite"></span>
                                    <!--
                                    <select class="form-control border-input" placeholder="Choose a provider" name="itemId" required>
                                        <% if (items) { %>
                                        <% for (var i =0; i<items.length;i++) { %>
                                        <option value="<%=items[i].id%>"><%=items[i].name%></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                    -->
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" name="quantity" class="form-control" min="1" value="1" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                              <button type="submit" class="btn btn-primary btn-round">Add Item</button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Item Table</h4>
                      </div>

                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>finalPrice</th>
                                    <th>Quantity</th>
                                    <th>Provider</th>
                                    <th>Category</th>
                                    <th>createdAt</th>
                                    <th>updatedAt</th>
                                    <th></th>
                                    <th></th>
                                  </thead>
                                  <tbody>
                                  <% if (items) { %>
                                  <% for (var i =0; i<items.length;i++ ) { %>
                                    <tr>
                                      <td><%=items[i].id%></td>
                                      <td><%=items[i].code%></td>
                                      <td><%=items[i].name%></td>
                                      <td><%=items[i].cost%></td>
                                      <td><%=items[i].price%></td>
                                      <td><%=items[i].discount%></td>
                                      <td><%=items[i].finalPrice%></td>
                                      <td><%=items[i].quantity%></td>
                                      <% if (typeof(itemProviders[i]) != 'undefined'){ %>
                                        <td><%=itemProviders[i].name%></td>
                                        <% } else { %> 
                                        <td>Empty</td>
                                        <% } %>
                                        <% if (typeof(itemCategories[i]) != 'undefined'){ %>
                                            <td><%=itemCategories[i].name%></td>
                                        <% } else { %>    
                                            <td>Empty</td>
                                        <% } %>
                                      <td><%=items[i].createdAt%></td>
                                      <td><%=items[i].updatedAt%></td>
                                      <% if (typeof(itemProviders[i]) != 'undefined' && typeof(itemCategories[i]) != 'undefined' ){ %>
                                        <td>
                                                <a data-toggle="modal" data-target="#updateItem" onclick="updateItemModal(`<%=items[i].id%>`,`<%=items[i].code%>`,`<%=items[i].name%>`,`<%=items[i].cost%>`,`<%=items[i].price%>`,`<%=items[i].discount%>`, `<%=items[i].quantity%>`,`<%=itemProviders[i].id%>`,`<%=itemProviders[i].phone%>`, `<%=itemCategories[i].id%>`, `<%=itemCategories[i].name%>`)" ><button class="btn btn-primary btn-round">Update</button></a>
                                        </td> 
                                        <% } else if( typeof(itemProviders[i]) != 'undefined') { %> 
                                            <td>
                                                    <a data-toggle="modal" data-target="#updateItem" onclick="updateItemModal(`<%=items[i].id%>`,`<%=items[i].code%>`,`<%=items[i].name%>`,`<%=items[i].cost%>`,`<%=items[i].price%>`,`<%=items[i].discount%>`, `<%=items[i].quantity%>`,`<%=itemProviders[i].id%>`,`<%=itemProviders[i].phone%>`, `0` , `empty`)" ><button class="btn btn-primary btn-round">Update</button></a>
                                            </td>
                                        <% } else if( typeof(itemCategories[i]) != 'undefined') { %>
                                            <td>
                                                    <a data-toggle="modal" data-target="#updateItem" onclick="updateItemModal(`<%=items[i].id%>`,`<%=items[i].code%>`,`<%=items[i].name%>`,`<%=items[i].cost%>`,`<%=items[i].price%>`,`<%=items[i].discount%>`, `<%=items[i].quantity%>`,`0`,`empty`, `<%=itemCategories[i].id%>`, `<%=itemCategories[i].name%>`)" ><button class="btn btn-primary btn-round">Update</button></a>
                                            </td>
                                        <% } else { %> 
                                            <td>
                                                    <a data-toggle="modal" data-target="#updateItem" onclick="updateItemModal(`<%=items[i].id%>`,`<%=items[i].code%>`,`<%=items[i].name%>`,`<%=items[i].cost%>`,`<%=items[i].price%>`,`<%=items[i].discount%>`, `<%=items[i].quantity%>`,`0`,`empty`, `0`, `empty`)" ><button class="btn btn-primary btn-round">Update</button></a>
                                            </td>
                                        <% } %>
                                      
                                      <td>
                                        <form action="/items/removeitem/" method="post" name="removeitem">
                                          <input type="hidden"  name="id" value="<%=items[i].id%>">
                                          <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                      </td>
                                    </tr>
                                    <% } %>
                                    <% } %>
                                  </tbody>
                              </table>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <!--   *****************Edit Item Modal******************        -->
          <div class="modal fade" id="updateItem" role="dialog">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content text-left">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Update Item</h4>
                      </div>
                      <div class="modal-body">
                          <form method="post" action="/items/saveitem" name="updateItem" id="updateItemForm">
                            <input type="hidden" name="id">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                    <label>Code</label>
                                    <input type="text" name="code" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                    <label>Cost</label>
                                    <input type="number" name="cost" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" name="price" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Disount(Pounds)</label>
                                        <input type="number" name="discount" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="number" name="quantity" class="form-control" min="1" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Provider</label>
                                        <input type="hidden" id="providerIdUpdate" name='providerId'/>
                                        <input type="text" id="providerPhoneUpdate" onfocusout="checkProviderPhone(this.id)" name='providerPhone' placeholder='Enter Provider Phone' class="form-control border-input" required/>
                                        <span class="error" id="providerPhoneUpdateError" aria-live="polite"></span>
                               
                                        <!--
                                        <select class="form-control border-input" placeholder="Choose a provider" name="providerId" >
                                                <% if (providers) { %>
                                                <% for (var i =0; i<providers.length;i++) { %>
                                                <option value="<%=providers[i].id%>"><%=providers[i].name%></option>
                                                <% } %>
                                                <% } %>
                                        </select>
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input type="hidden" id="categoryIdUpdate" name='categoryId'/>
                                        <input type="text" id="categoryNameUpdate" onfocusout="checkCategoryName(this.id)" name='categoryName' placeholder='Enter Category Name' class="form-control border-input" required/>
                                        <span class="error" id="categoryNameUpdateError" aria-live="polite"></span>
                                        <!--
                                        <select class="form-control border-input" placeholder="Choose a category" name="categoryId" required>
                                                <% if (categories) { %>
                                                <% for (var i =0; i<categories.length;i++) { %>
                                                <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                                                <% } %>
                                                <% } %>
                                        </select>
                                        -->
                                    </div>
                                </div>
                            </div>
                                
                              <div class="text-center">
                                  <button type="submit" class="btn btn-primary btn-round">Update</button>
                              </div>
                              <div class="clearfix"></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        <% include partials/footer.ejs %>
      </div>
    </div>
  </div>
  <% include partials/scripts.ejs %>
  <script>
      /*
  $(function() {
    
    $("form[name='saveItem']").validate({
      rules: {
        code: "required",
        name: "required",
        cost: "required",
        price:"required",
        quantity:"required",
        providerId: "required",
        providerPhone: "required",
        categoryId: "required"
      },
      
      messages: {
        code: "Please enter Item Code",
        name: "Please enter Item Name",
        cost: "Please enter Item Cost",
        price:"Please enter Item Price",
        quantity:"Please enter Item Quantity",
        providerId: "Please add the item provider ID",
        providerPhone: "Please add the item provider phone",
        categoryId: "Please Choose the item Category "
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
  $(function() {
    
    $("form[name='updateItemQuantity']").validate({
      rules: {
        itemId: "required",
        quantity:"required"
       
      },
      
      messages: {
        itemId: "Please Select Item Name",
        quantity:"Please enter Item Quantity"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
  $(function() {
    
    $("form[name='updateItem']").validate({
        rules: {
            code: "required",
            name: "required",
            cost: "required",
            price:"required",
            quantity:"required",
            providerId: "required",
            providerPhone: "required",
            categoryId: "required"
          },
          
          messages: {
            code: "Please enter Item Code",
            name: "Please enter Item Name",
            cost: "Please enter Item Cost",
            price:"Please enter Item Price",
            quantity:"Please enter Item Quantity",
            providerId: "Please add the item provider ID",
            providerPhone: "Please add the item provider phone",
            categoryId: "Please Choose the item Category "
          },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
  */
  function updateItemModal(id, code, name, cost, price, discount, quantity, providerId, providerPhone, categoryId, categoryName){
    let form = document.forms['updateItemForm'];
    form.elements["id"].value = id;
    form.elements["code"].value = code;
    form.elements["name"].value = name;
    form.elements["cost"].value = cost;
    form.elements["price"].value = price;
    form.elements["discount"].value = discount;
    form.elements["quantity"].value = quantity;
    form.elements["providerId"].value = providerId;
    form.elements["providerPhone"].value = providerPhone;
    form.elements["categoryId"].value = categoryId;
    form.elements["categoryName"].value = categoryName;

  };
  const items = <%- JSON.stringify(items) %>;

  function checkItemCode(id){

    let itemCodeInput = document.getElementById(id);
    var itemIdInput;
    var itemCodeError;
    var itemId;
    itemIdInput = document.getElementById("itemId");
    itemCodeError = document.getElementById("itemCodeError")

    if(items.find(item => item.code == itemCodeInput.value)){
    itemId = items.find(item => item.code == itemCodeInput.value).id;
    itemIdInput.value=itemId;
    itemCodeError.className = "error";
    itemCodeError.innerHTML = "";
    itemCodeInput.setCustomValidity("");
    }
    else{
    itemCodeInput.setCustomValidity("Enter a valid item code!");
    itemCodeError.innerHTML = "Enter a valid item code!";
    itemCodeError.className = "error active";
    itemIdInput.value=0;
    }
  }

  const providers = <%- JSON.stringify(providers) %>;

  function checkProviderPhone(id){

    let providerPhoneInput = document.getElementById(id);
    var providerIdInput;
    var providerPhoneError;
    var providerId;
    if(id.includes("Add")){
        providerIdInput = document.getElementById("providerIdAdd");
        providerPhoneError = document.getElementById("providerPhoneAddError")
    }
    else if(id.includes("Update")){
        providerIdInput = document.getElementById("providerIdUpdate");
        providerPhoneError = document.getElementById("providerPhoneUpdateError")
    }
        if(providers.find(provider => provider.phone == providerPhoneInput.value)){
        providerId = providers.find(provider => provider.phone == providerPhoneInput.value).id;
        providerIdInput.value=providerId;
        providerPhoneError.className = "error";
        providerPhoneError.innerHTML = "";
        providerPhoneInput.setCustomValidity("");
        }
        else{
        providerPhoneInput.setCustomValidity("Enter a valid phone!");
        providerPhoneError.innerHTML = "Enter a valid phone!";
        providerPhoneError.className = "error active";
        providerIdInput.value=0;
    }
  }

  const categories = <%- JSON.stringify(categories) %>;

  function checkCategoryName(id){

    let categoryNameInput = document.getElementById(id);
    var categoryIdInput;
    var categoryNameError;
    var categoryId;
    if(id.includes("Add")){
        categoryIdInput = document.getElementById("categoryIdAdd");
        categoryNameError = document.getElementById("categoryNameAddError")
    }
    else if(id.includes("Update")){
        categoryIdInput = document.getElementById("categoryIdUpdate");
        categoryNameError = document.getElementById("categoryNameUpdateError")
    }
        if(categories.find(category => category.name == categoryNameInput.value)){
        categoryId = categories.find(category => category.name == categoryNameInput.value).id;
        categoryIdInput.value=categoryId;
        categoryNameError.className = "error";
        categoryNameError.innerHTML = "";
        categoryNameInput.setCustomValidity("");
        }
        else{
        categoryNameInput.setCustomValidity("Enter a valid category name!");
        categoryNameError.innerHTML = "Enter a valid category name!";
        categoryNameError.className = "error active";
        categoryIdInput.value=0;
    }
  }

  </script>
</body>

</html>